@page "/"
@using System.Xml;

<PageTitle>Index</PageTitle>

<h1>Labyrinthian Demo</h1>

<MudButton OnClick="DisplayMaze">Generate</MudButton>

<MazeRenderer Maze="@maze" />

@code {
	private Maze? maze;

	private void DisplayMaze()
	{
		maze = new SigmaMaze(10, 5);
		MazeGenerator generator = new PrimGeneration(maze);
		generator.Generate();
	}
}